.fazFCE__event__short {
    position: relative;

    a { text-decoration: none; }


    &__block {
        display: flex;
    }
    &__block + &__block {
        margin-top: 1rem;
    }

    // Details
    &__details {
        padding: 1rem;
        background-color: $color-blue;
        font-family: $font-suisse;
        color: $color-grey;
        width: 300px;

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        & * { display: block }

        .time, .day {
            font-size: 0.889rem;
            margin-bottom: 0.75rem;
        }
        .time {
            opacity: 0.6;
        }
        .day {
            line-height: 1;
        }

        .btn {
            display: inline-block;
            text-align: center;
        }

        .location {
            margin: 1rem 0;
            line-height: 1.3;
        }
    }

    // Content
    &__content {
        background-color: $color-white;
        padding: 1rem 2rem;
        width: 100%;

        &__dateTime { display: none }
    }

}

@include media("<tablet") {
    .fazFCE__event__short {    
        &__block {
            flex-direction: column;
            flex-flow: column-reverse;
        }

        &__block + &__block {
            margin-top: 2rem;
        }

        &__details {
            padding: 1rem 2rem 2rem 2rem;
            width: 100%;

            .dateDay {
                width: 50%;
                float: left;
            }
            .time {
                width: 50%;
                float: right;
                font-size: 1rem;
                text-align: right;
            }

            .btn {
                margin-top: 0.75rem;
            }

            .location {
                margin: 0;
                float: right;
                text-align: right;
                width: 50%;
            }
        }
        &__content {
            &__dateTime {
                display: block;
                margin-bottom: 1rem;
            }
        }
    }
}