# IDE, System
.DS_Store
.idea

# Alles verbieten
# /*

# Nur Projektdaten
/assets
!/config
/config/parameters.yml
/contao-manager
/system
/var
/vendor
/web
!/files/
!/templates
/files/priller/public

# Global xml
/*.xml

# Composer Settings
composer.json
composer.lock